@charset "utf-8"

/*
  Palette

  White: #FCF7F6
  Orange: #943600
  Green: #08A368
  Red: #A60835
  Magenta: #9C0A5D
  Blue: #1F3C8C

 */

html {
  min-height: 100vh;
  width: 100vw;
  background-color: #1F3C8C;
  color: #FCF7F6;
}

header {
  width: 100vw;
}

h2 {
  margin: 0 auto;
  font-family: 'WorkSansRegular';
  font-weight: normal;
  font-style: normal;
}
