@charset "utf-8"

/*
  Palette

  Blue: #607EA6
  Dark Blue: #171E26
  Grey: #2F3640
  Light Grey: #BFBDB8
  Off-white: #F2EDE4

 */

/* Primary elements */
html {
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #171E26;
  color: #F2EDE4;
  font-family: 'WorkSansRegular';
  font-weight: normal;
  font-style: normal;
}

footer {
}

/* Tag styling */
div {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 150px;
  background-color: #2F3640;
  border-top: 7px solid #BFBDB8;
  border-bottom: 7px solid #BFBDB8;
}

h2 {
  font-size: 4.2em;
  font-weight: Semibold;
  margin: 0 auto;
  padding: 0;
}

hr {
  width: 370px;
  margin: 0 auto;
  border: 1px solid #F2EDE4;
}

p {
  font-size: 1.5em;
  font-weight: Thin;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0 auto;
}

section {
  text-align: center;
}

/* ID styling */

/* Class styling */
