@charset "utf-8"

/*
  Palette

  White: #FCF7F6
  Orange: #943600
  Green: #08A368
  Red: #A60835
  Magenta: #9C0A5D
  Blue: #1F3C8C

 */

/* Primary elements */
html {
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #1F3C8C;
  color: #FCF7F6;
  font-family: 'WorkSansRegular';
  font-weight: normal;
  font-style: normal;
}

footer {
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tag styling */
h2 {
  margin: 0 auto;
  padding: 0;
}

/* ID styling */

/* Class styling */
